*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}
a{
  text-decoration: none;
}

/*HEADER*/

header{
  min-width: 100vw;
  padding:20px 15px;
  position: fixed;
  top:0;
  color:white;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100vw;
  transition: background-color 1000ms;
}
.headerActive{
  padding:20px 15px;
  position: fixed;
  top:0;
  color:white;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100vw;
  background-color: rgb(27, 26, 26);
}
header>input{
  opacity: 1;
  background-color: inherit;
  border: 2px solid grey;
  color:white;
  width: 130px;
  border-radius: 5px;
  padding:8px 5px;
  font-size:1rem;
  transition: width 1000ms;
}
.logo{
  font-family: 'Bebas Neue', cursive;
  font-size:1.5rem;
  color: red;
}
header>button{
  border: 1px solid red;
}
.glass{
  width:25px;
  position:absolute;
  right:19px;
}

/*  POSTER */
.posterContainer{
  height:80vh;
  color:white;
  background-image: linear-gradient(rgb(27, 26, 26,1),rgb(27, 26, 26,1));
}
.posterEl{
  height: 100%;
  position: relative;
}
.posterBig{
  height: 100%;
  width:100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
}
.posterDetails{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  padding:0px 15px;
}
.detailsButton{
  margin:10px 0px;
  padding:15px 25px;
  font-weight: 900;
  font-size:1rem;
  letter-spacing: 2px;
  background-color: rgb(131, 128, 128);
  border:inherit;
  color:white;
  border-radius: 10px;
  opacity: 0.9;
  cursor: pointer;
  transform: scale(1);
  transition: transform 500ms;
  transition: background-color 1000ms;
}
.detailsButton:hover,
.detailsButton:focus{
  background-color: rgb(26, 24, 24);
  transform: scale(1.05);
  transition: transform 500ms;
  transition: background-color 1000ms;

}
/* IMAGES */
.trendingImg,
.popularImg,
.topRatedImg,
.comedyImg,
.actionImg,
.romanticImg,
.dramaImg,
.horrorImg,
.documentaryImg{
  width:120px;
  transform: scale(1);
  transition: transform 1000ms;
}
.trendingImg:hover,
.popularImg:hover,
.topRatedImg:hover,
.comedyImg:hover,
.actionImg:hover,
.romanticImg:hover,
.dramaImg:hover,
.horrorImg:hover,
.documentaryImg:hover,
.similarImg:hover,
.trendingImg:focus,
.popularImg:focus,
.topRatedImg:focus,
.comedyImg:focus,
.actionImg:focus,
.romanticImg:focus,
.dramaImg:focus,
.horrorImg:focus,
.documentaryImg:focus,
.similarImg:focus{
    transform: scale(1.150);
    transition: transform 1000ms;
}

/*  TRENDING  */
.trendingContainer{
  width:100%;
  position: relative;
  color:white;
  background-color:rgb(27, 26, 26);
  padding:20px 15px;
  z-index: 1;
  box-shadow: 0 -40px 50px -5px rgb(27, 26, 26);
  border:none;
}
.trendingContainer>h2{
  padding:5px 0px;
}
/*  REC  */
.rec.rec-arrow {
  border-radius: 0;
  height:105px;
  margin:0 auto;
  font-size: 1rem;
  background-color:black;
  display: none;
}
/*  POPULAR  */
.popularContainer{
  width:100%;
  color:white;
  background-color:rgb(27, 26, 26);
  padding:20px 15px;
}
.popularContainer>h2{
  padding:5px 0px;
}

/* Top Rated */

.topRated{
  width:100%;
  color:white;
  background-color:rgb(27, 26, 26);
  padding:20px 10px;
}
.topRated>h2{
  padding:5px 0px;
}

/* Comedy */
.comedyContainer{
  width:100%;
  color:white;
  background-color:rgb(27, 26, 26);
  padding:20px 15px;
}
.comedyContainer>h2{
  padding:5px 0px;
}

/* Action */
.actionContainer{
  width:100%;
  color:white;
  background-color:rgb(27, 26, 26);
  padding:20px 15px;
}
.actionContainer>h2{
  padding:5px 0px;
}

/* Romance */

.romanticContainer{
  width:100%;
  color:white;
  background-color:rgb(27, 26, 26);
  padding:20px 15px;
}
.romanticContainer>h2{
  padding:5px 0px;
}

/* Drama */

.dramaContainer{
  width:100%;
  color:white;
  background-color:rgb(27, 26, 26);
  padding:20px 15px;
}
.dramaContainer>h2{
  padding:5px 0px;
}

/* Horror */

.horrorContainer{
  width:100%;
  color:white;
  background-color:rgb(27, 26, 26);
  padding:20px 15px;
}
.horrorContainer>h2{
  padding:5px 0px;
}

/* Documentary */

.documentaryContainer{
  width:100%;
  color:white;
  background-color:rgb(27, 26, 26);
  padding:20px 15px;
}
.documentaryContainer>h2{
  padding:5px 0px;
}


/* Movie Details */
.detailsContainer{
  color:white;
  font-size:0.9rem
}
.posterSmall{
  width:175px;
}
.detailsTitle{
  font-size:1.5rem;
  margin:10px 0px;
  text-align: center;
}
.detailsMovie{
  padding-top:100px;
  padding-left:20px;
  padding-right:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detailsDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trailerButton{
  margin:20px 0px;
  padding:15px 30px;
  font-weight: 900;
  font-size:1rem;
  letter-spacing: 2px;
  background-color:rgb(131, 128, 128);
  border:inherit;
  color:white;
  border-radius: 10px;
  align-self: center;
  opacity: 0.9;
  cursor: pointer;
  transform: scale(1);
  transition: transform 500ms;
  transition: background-color 1000ms;
}
.trailerButton:hover,
.trailerButton:focus{
  background-color: black;
  transform: scale(1.05);
  transition: transform 500ms;
  transition: background-color 1000ms;
}
.duration{
  margin:10px 0px;
}
.overview{
  line-height:25px;
}


/* Cast */
.castContainer{
  padding:15px 15px;
  background-color:rgb(27, 26, 26);
}
.castContainer>h2{
  text-align: center;
  margin-bottom:20px;
  font-size:1.5rem;
}
.cast{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cast>img{
  width:120px;
  border-radius: 48%;
}
.castName{
  margin:5px 0px;
  font-size:1.05rem;
  text-align: center;
  font-weight: 700;
}
.castChar{
  text-align: center;
  font-size:1rem;
}

/*CREW */
.crewImg{
  width:120px;
  border-radius: 48%;
}
.user{
  width:120px;
  border-radius: 48%;
  height: 180px;
}
.crew{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.crewContainer{
  padding:15px 15px;
  background-color:rgb(27, 26, 26);
}
.crewContainer>h2{
  margin-bottom:20px;
  font-size:1.5rem;
  text-align: center;
}
.crewName{
  margin:5px 0px;
  font-size:1.05rem;
  text-align: center;
  font-weight: 700;
}
.crewJob{
  text-align: center;
  font-size:1rem;
}

/*SIMILAR*/
.similar{
  padding:15px 15px;
  background-color:rgb(27, 26, 26);
}
.similar>h2{
  margin:20px 0px;
  font-size:1.5rem;
  text-align: center;
}
.similarImg{
  width:130px;
  border-radius: 10px;
}

/*SEARCH*/
.searchContainer{
  min-height: 100vh;
  background-color: rgb(27, 26, 26);
}
.searchContainer>h1{
  margin-top:80px;
  margin-bottom: 10px;
  color:white;
  text-align: center;
}
.search{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.searchResult{
  width: 200px;
}
.noResults{
  color:white;
  font-size: 1.5rem;
  position: absolute;
  top:50%;
}
/* MODAL */
iframe{
  padding:0;
  width:100%;
  height:300px;
  border:none;
}
.modal{
  width:100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: none;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}


@media(min-width:400px){
.trendingImg,
.popularImg,
.topRatedImg,
.comedyImg,
.actionImg,
.romanticImg,
.dramaImg,
.horrorImg,
.documentaryImg{
  width:150px;
  }
.posterDetails{
    padding:0 20px;
  }
  iframe{
    width: 100%;
    height: 450px;
  }
  .searchResult{
    width: 300px;
  }
}

@media(min-width:700px){
  .trendingImg,
  .popularImg,
  .topRatedImg,
  .comedyImg,
  .actionImg,
  .romanticImg,
  .dramaImg,
  .horrorImg,
  .documentaryImg{
    width:200px;
  }
  iframe{
      width: 699px;
      height: 500px;
  }
  .modal{
    width:auto;
    display: flex;
    justify-content: center;
  }
  .posterDetails{
    padding:40px;
  }
  .posterDetails>h1{
    font-size:3rem;
  }
  .posterDetails>p{
    width:600px;
    font-size:1.3rem;
    line-height: 30px;
  }
  .detailsButton{
    margin:20px 0px;
    padding:20px 70px;
    font-size:1.5rem;
  }
  .trendingContainer,
  .popularContainer,
  .topRated,
  .comedyContainer,
  .actionContainer,
  .romanticContainer,
  .dramaContainer,
  .horrorContainer,
  .documentaryContainer{
    padding:20px 15px;

  }
  .trendingContainer>h2,
  .popularContainer>h2,
  .topRated>h2,
  .comedyContainer>h2,
  .actionContainer>h2,
  .romanticContainer>h2,
  .dramaContainer>h2,
  .horrorContainer>h2,
  .documentaryContainer>h2{
    padding:10px 0px;
    font-size:2rem;
    margin-left: 20px;
  }
  header{
    padding:20px 40px;
  }
  header>input{
    width:200px;
    padding:15px 10px;
  }
  .glass{
    right:50px;
    width:30px;
  }
  .logo{
    font-size: 2.3rem;
  }
  header>input:active,
  header>input:focus{
    width:300px;
    transition: width 1000ms;
  }
  .detailsMovie{
    flex-direction: row;
    justify-content: center;
  }
  .posterSmall{
    width:300px;
  }
  .detailsDetails{
    text-align: center;
    padding:0px 10px;
  }
  .detailsTitle{
    font-size:2rem;
  }
  .castContainer,
  .crewContainer,
  .similar{
    padding:30px 15px;
  }
  .castContainer>h2,
  .crewContainer>h2,
  .similar>h2{
    font-size:1.7rem;
  }
  .cast>img,
  .crew>img{
    width: 150px;
    border-radius: 48%;
  }
  .user{
    height: 225px;
  }
  .similarImg{
    width:230px;
  }
  .searchContainer>h1{
    margin-top:90px;
    font-size:2.5rem;
  }
  .search{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .searchResult{
    margin-left:20px;
  }
}

@media(min-width:1500px){
  .rec.rec-arrow {
    border-radius: 50%;
    width:50px;
    height:50px;
    font-size: 1.5rem;
    background-color:black;
    color:white;
    display: block;
    transition: height 500ms;
  }
  .rec.rec-arrow:disabled{
    visibility: hidden;
  }
  .rec.rec-arrow-right:hover:enabled,  
  .rec.rec-arrow-right:focus:enabled,
  .rec.rec-arrow-left:hover:enabled,  
  .rec.rec-arrow-left:focus:enabled{
    background-color:black;
    height: 100%;
    border-radius: 0;
    transition: height 1000ms;
  }
  .posterSmall{
    width:350px;
  }
  .detailsMovie{
    justify-content: flex-start;
    padding:150px 50px;
  }
  .detailsDetails{
    text-align:right;
    align-items: flex-start;
    margin-left:20px;
  }
  .trailerButton{
    align-self: flex-start;
  }
  .detailsTitle{
    font-size: 4rem;
    text-shadow: 2px 2px black;
  }
  .director,
  .duration,
  .genresContainer{
    font-size:1.2rem;
  }
  .overview{
    text-align: start;
    font-size:1.2rem;
  }
  .castContainer>h2,
  .crewContainer>h2,
  .similar>h2{
    text-align: start;
    margin-left: 40px;
    font-size: 2.7rem;
  }
  .similarImg{
    width:210px;
  }
  .trailerButton{
    padding:15px 50px;
    font-size: 1.2rem;
  }
}

/*loading*/
.loadingDetailsPage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  color:white;
}
